/* Basic Style */
ul {
  margin: 0;
  padding: 0px;
}

li,
h3 {
  list-style: none;
}

input,
button{
  outline: none;
}

.add-task__button,
.task__button-edit,
.task__delete{
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.add-task__button:hover,
.task__button-edit:hover{
  color: #3a3A3a;
}

.body{
  background-color: #f8f8f8;
  color: #333;
  font-family: 'Lato', sans-serif;
}

.task__input,
.add-task__input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.task__input:focus,
.add-task__input:focus {
  color: #333;
}

/* Heading */
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
@media (max-width:768px) {
  .header { text-align: center; }
}
.header__image {
  width: 100%;
}
.header__link {
  font-family: 'Lato', sans-serif;
}

.wrapper {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task-section{
  margin-top: 30px;
}

.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.add-task__row {
  display: flex;
  padding: 20px 0;
}

.section-name,
.add-task__caption {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
  margin: 0;
  text-transform: uppercase;
}

/* New Task */
.add-task__caption {
  display: block;
}
.add-task__input {
  width: 100%;
}
.add-task__button-edit:hover {
  color: #0fc57c;
}

/* Task list */
.task {
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task__checkbox {
  margin: 0 10px;
}
.task__label {
  width: 226px;
  padding-left: 10px;

  flex-grow: 1;
  box-sizing: border-box;
  font-size: 18px;
}
.task__input {
  width: 226px;
}
.task__delete:hover {
  color: #cf2323;
}
.task__delete-image {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms cubic-bezier(0.75,-0.65,0.35,2.0);
}
.task__delete:hover .task__delete-image{
  transform: rotateZ(0);
}

/* Completed */
.completed-tasks .task__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task__input {
  display: none;
}

.edit-mode .task__input{
  display: inline-block;
  width: 224px;
  flex-grow: 1;
}

.edit-mode .task__label {
  display: none;
}
